.hero{

    background-color: linear-gradient(180deg,#0c0c1d,#7474bf);
    height: 100vh;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

}
.buttons{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 20px;
    width: fit-content;
    padding: 20px;
 
}

.buttons button{

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.hero-text p{

    width: 450px;
    margin-left: 40px;
}

.hero-text {

    padding-left: 60px;
    margin-top: 0px;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
   

}
.hero-text h2{

    color: #252568;
    width: 100%;
    font-size: 20px;
    margin-top: 90px;
    margin-left: 40px;
    padding: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
   
}
h1{

    color: white;
    width: 100%;
    font-size: 48px;
    margin-left: 40px;
    margin-top: 0px;
    padding: 5px;
    font-size: 50px;

    font-family: 'Plus Jakarta Sans', sans-serif;

}
.heropng {

    position: absolute;
    right: 0;
    top: 0;
    
    
}

.heropng img{

    width: 100px;
    margin-top: 6px;
}

@media(max-width:500px){

    .hero{
        display: block;
    }
    .heropng{

        top:400px;
        margin-top: 100px;
    }
    h1{
        font-size: 45px;
        margin-left: 0px;
    }
    .hero-text{

        margin-left: 40px;
        padding-left: 10px;
    }
  
    .hero-text p{

        font-size: 13px;
        margin-left: 1px;
        padding: 5px;
        width: 300px;
        margin-right: 600px;
        

    }
    .hero-text h2{
        margin-left: 5px;
    }
    .buttons button{

        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        background-color: transparent;
        text-decoration: none;
        outline: none;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        
    }
    .buttons{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: fit-content;
        padding: 20px;
    }
}
   
