/* Default styles */
.footer {
    color: #fff;
    padding: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 1.5em;
  }
  
  .contact-info {
    text-align: right;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  /* Media query for max-width 500px */
  @media (max-width: 500px) {
    .footer {
      display: block;
      text-align: center;
      background-color: rgb(33, 0, 49);
      padding: 20px;
      margin: 10px;
    }

    #twitterlogo{

        background-color: white !important;
        width: 30px;

    }
    .icon img{

        width: 30px;
        

    }
    .iconContainer{

        display: flex;
        align-items: center;
        padding: 10px;
    }
    .icon{

        margin: 10px;
    }

    .contactInfo p{

        font-size: 15px;
        margin-left: 10px;
        
    }

    .contactInfo{

        margin-bottom: 30px;
    }
  
    .social-media {
      margin-bottom: 15px;

    }
  }
  