.box{

    width: 120px;
    height: 120px;
    color: white;
    background-color: white !important;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
}
