

@media(max-width:500px) {



    .aboutauthor{

        
        margin-top: 400px;
        margin-left: 30px;
        margin-right: 30px;
        overflow-y: hidden;
        margin-bottom: 100px;
        color: white;
    }

   
    

}


