

@media(max-width:500px) {



    .aboutauthor{

        
        margin-top: 400px;
        margin-left: 30px;
        margin-right: 30px;
        overflow-y: hidden;
        height:800px;
    }

    .authorimg{

        width: 40%;
        
        
    }
    .aboutauthor-img{

              margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
        
    }


}


