html{


  scroll-snap-type :y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

#testing{

  width: 60px;
  height: 60px;
  background-color: red;
}

body{

  background-color: #0c0c1d;
  color: white;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}